In [ ]:
import pandas as pd
import numpy as np

We have processed all data on employee compensation and generated an Excel file (Equality Table.xlsx, available in the Resources) containing 3 columns:
  1) Factory
  2) Job Role
  3) Equality Score(integer;ranging between -100 and +100;0 is ideal)

Here is our task:
  - Create a 4th Column(Equality class), classifying the equality score into 3 types:
    - Fair(+-10)
    - Unfair(<-10 AND >10)
    - Highly Discriminative(<-20 AND >20)

The Equality table we need to edit is with the name `Task 5 Equality Table(for Working).xlsx`.

In [8]:
task_df = pd.read_csv('task_5.csv')
task_df

                  Factory             Job Role  Equality Score  Equality class
0   Daikibo Factory Meiyo              C-Level             -25             NaN
1   Daikibo Factory Meiyo                   VP             -26             NaN
2   Daikibo Factory Meiyo             Director             -19             NaN
3   Daikibo Factory Meiyo          Sr. Manager             -15             NaN
4   Daikibo Factory Meiyo              Manager             -14             NaN
5   Daikibo Factory Meiyo          Jr. Manager             -20             NaN
6   Daikibo Factory Meiyo         Sr. Engineer              -5             NaN
7   Daikibo Factory Meiyo             Engineer              -8             NaN
8   Daikibo Factory Meiyo         Jr. Engineer               3             NaN
9   Daikibo Factory Meiyo  Operational Support             -22             NaN
10  Daikibo Factory Meiyo     Machine Operator              -7             NaN
11  Daikibo Factory Seiko                   VP             -19             NaN
12  Daikibo Factory Seiko             Director             -10             NaN
13  Daikibo Factory Seiko          Sr. Manager             -21             NaN
14  Daikibo Factory Seiko              Manager             -21             NaN
15  Daikibo Factory Seiko          Jr. Manager             -24             NaN
16  Daikibo Factory Seiko         Sr. Engineer              -4             NaN
17  Daikibo Factory Seiko             Engineer              -7             NaN
18  Daikibo Factory Seiko         Jr. Engineer               4             NaN
19  Daikibo Factory Seiko  Operational Support             -19             NaN
20  Daikibo Factory Seiko     Machine Operator              -5             NaN
21         Daikibo Berlin          Sr. Manager             -15             NaN
22         Daikibo Berlin              Manager             -16             NaN
23         Daikibo Berlin          Jr. Manager             -17             NaN
24         Daikibo Berlin         Sr. Engineer               4             NaN
25         Daikibo Berlin             Engineer               2             NaN
26         Daikibo Berlin         Jr. Engineer               4             NaN
27         Daikibo Berlin  Operational Support               0             NaN
28         Daikibo Berlin     Machine Operator              -6             NaN
29       Daikibo Shenzhen          Sr. Manager             -21             NaN
30       Daikibo Shenzhen              Manager             -19             NaN
31       Daikibo Shenzhen          Jr. Manager             -20             NaN
32       Daikibo Shenzhen         Sr. Engineer              -5             NaN
33       Daikibo Shenzhen             Engineer              -4             NaN
34       Daikibo Shenzhen         Jr. Engineer               3             NaN
35       Daikibo Shenzhen  Operational Support              -7             NaN
36       Daikibo Shenzhen     Machine Operator              -7             NaN

In [ ]:
task_df.columns

In [9]:
task_df.loc[(task_df['Equality Score'] >= -10) & (task_df['Equality Score'] <= 10), 'Equality class'] = 'Fair'

task_df.loc[((task_df['Equality Score'] < -10) & (task_df['Equality Score'] >= -20)) |
            ((task_df['Equality Score'] > 10) & (task_df['Equality Score'] <= 20)), 'Equality class' ] = 'Unfair'

task_df.loc[(task_df['Equality Score'] < -20) | (task_df['Equality Score'] > 20), 'Equality class'] = 'Highly Discriminative'

task_df

C:\Users\harik\AppData\Local\Temp\ipykernel_3628\2535517545.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Fair' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  task_df.loc[(task_df['Equality Score'] >= -10) & (task_df['Equality Score'] <= 10), 'Equality class'] = 'Fair'

,Factory,Job Role,Equality Score,Equality class
0,Daikibo Factory Meiyo,C-Level,-25,Highly Discriminative
1,Daikibo Factory Meiyo,VP,-26,Highly Discriminative
2,Daikibo Factory Meiyo,Director,-19,Unfair
3,Daikibo Factory Meiyo,Sr. Manager,-15,Unfair
4,Daikibo Factory Meiyo,Manager,-14,Unfair
5,Daikibo Factory Meiyo,Jr. Manager,-20,Unfair
6,Daikibo Factory Meiyo,Sr. Engineer,-5,Fair
7,Daikibo Factory Meiyo,Engineer,-8,Fair
8,Daikibo Factory Meiyo,Jr. Engineer,3,Fair
9,Daikibo Factory Meiyo,Operational Support,-22,Highly Discriminative
10,Daikibo Factory Meiyo,Machine Operator,-7,Fair
11,Daikibo Factory Seiko,VP,-19,Unfair
12,Daikibo Factory Seiko,Director,-10,Fair
13,Daikibo Factory Seiko,Sr. Manager,-21,Highly Discriminative
14,Daikibo Factory Seiko,Manager,-21,Highly Discriminative
15,Daikibo Factory Seiko,Jr. Manager,-24,Highly Discriminative
16,Daikibo Factory Seiko,Sr. Engineer,-4,Fair
17,Daikibo Factory Seiko,Engineer,-7,Fair
18,Daikibo Factory Seiko,Jr. Engineer,4,Fair
19,Daikibo Factory Seiko,Operational Support,-19,Unfair
20,Daikibo Factory Seiko,Machine Operator,-5,Fair
21,Daikibo Berlin,Sr. Manager,-15,Unfair
22,Daikibo Berlin,Manager,-16,Unfair
23,Daikibo Berlin,Jr. Manager,-17,Unfair
24,Daikibo Berlin,Sr. Engineer,4,Fair
25,Daikibo Berlin,Engineer,2,Fair
26,Daikibo Berlin,Jr. Engineer,4,Fair
27,Daikibo Berlin,Operational Support,0,Fair
28,Daikibo Berlin,Machine Operator,-6,Fair
29,Daikibo Shenzhen,Sr. Manager,-21,Highly Discriminative
30,Daikibo Shenzhen,Manager,-19,Unfair
31,Daikibo Shenzhen,Jr. Manager,-20,Unfair
32,Daikibo Shenzhen,Sr. Engineer,-5,Fair
33,Daikibo Shenzhen,Engineer,-4,Fair
34,Daikibo Shenzhen,Jr. Engineer,3,Fair
35,Daikibo Shenzhen,Operational Support,-7,Fair
36,Daikibo Shenzhen,Machine Operator,-7,Fair

In [10]:
task_df.to_csv('task_5.csv', index=False)